<!-- your html code here -->
<h3> Contacto </h3>
<p> Para cualquier aclaración o comentario, o si tienes alguna pregunta, 
    no dudes en contactar con nosotros. </p>
<div class="contacto" style="background-color: lightgray; width: 70%;">
    <form class="cuadroContacto" style="padding: 10px;">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px;"></textarea>
            <label for="floatingTextarea2">Comments</label>
          </div>
          <div style="height: 50px;">
            <button class="btn btn-primary float-end" type="submit" style="margin: 10px;"> Submit </button>
          </div>
    </form>
</div>