<!-- your html code here -->
<div class="container d-flex">
  <div>
    <div class="container d-flex ">
      <h3>This First Heading</h3>

      <h3 class="text-secondary ms-2">Will Catch Your Eye</h3>
    </div>

    <p class="ms-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus,
      quod ipsa molestias atque nobis reprehenderit aliquam beatae quibusdam
      quasi incidunt? Numquam minima harum ex, veritatis impedit ullam!
      Repellendus, officiis!
    </p>
  </div>

  <img 
   
    src="https://picsum.photos/300/300?grayscale"
    class="rounded-circle "
    alt="" width="100%"
  />
</div>
