<!-- your html code here -->
<div class="container bg-white mt-5">
  <div class="row d-flex ms-4">

    <div class="col-sm-12 col-md-9 col-lg-8">

      <div class="flex-wrap align-items-baseline d-flex">
        <h3 class="me-2">This First Heading</h3>
        <h3 class="text-secondary">Will Catch Your Eye</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus,
        quod ipsa molestias atque nobis reprehenderit aliquam beatae quibusdam
        quasi incidunt? Numquam minima harum ex, veritatis impedit ullam!
        Repellendus, officiis
      </p>
    </div>

    <div class="col-4 col-sm-3 col-md-3 col-lg-4">
      <img src="https://picsum.photos/100/100?grayscale" class="rounded-circle float-left" alt="" width="100%" />
    </div>
  </div>


</div>
<hr>