<!-- your html code here -->
 <div class="container">
    <div class="row">
<div class="col-12">
<h3 class="portfolio"> Conoce también otros Dioses </h3>
<p> La religión de la Antigua Grecia abarca la colección de las creencias y rituales practicados en la Antigua Grecia en
    la forma de prácticas cultuales, homólogas de la mitología griega. La mayoría de antiguos griegos reconocían a los
    doce dioses y diosas olímpicos principales, entre los que destacamos, además de Poseidon:
</p>
</div>
</div>
</div>
<div class="container mb-5">
    <div class="row d-flex justify-content-between ms-5">
        <div class="card col-12  col-md-4 col-lg-4 mb-4" style="width: 18rem; padding-top:0.9%;">
            <img src="https://imgs.search.brave.com/nOCUyfnGV5QNOHnPbs6o-MBN6n9JMP8aY7wBBerY5RQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA3LzE1Lzg4Lzk1/LzM2MF9GXzcxNTg4/OTUwN19qOXpycVZI/S3JiVzVIaWNsY1Np/OGl2VnA1d21aN2l2/Mi5qcGc"
                class="card-img-top" alt="Imagen de Zeus">
            <div class="card-body">
                <h5 class="card-title">Zeus, Dios de Dioses</h5>
                <p class="card-text"> Es el rey de los dioses y supervisor del universo, Dios del cielo y el trueno:</p>
                <a href="#" class="btn btn-primary"> Zeus </a>
            </div>
        </div>
        <div class="card col-12 col-md-4 col-lg-4 mb-4" style="width: 18rem; padding-top:0.9%;">
            <img src="https://imgs.search.brave.com/KDj9wAOMdfQAGbKxCdDlJLJp5V7SiWWfs7T8cK5a-iw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzgyLzY4LzUx/LzM2MF9GXzU4MjY4/NTE2N19mSXBaSmR5/d0l0cE9UZmhlYWIy/ejNySE5pNDlRd0Fv/ci5qcGc"
                class="card-img-top" alt="Imagen de Hades">
            <div class="card-body">
                <h5 class="card-title">Hades, Dios del Inframundo</h5>
                <p class="card-text"> Es el rey del Inframundo y considerado también como el Dios de los Muertos:</p>
                <a href="#" class="btn btn-primary"> Hades </a>
            </div>
        </div>
        <div class="card col-12 col-md-4 col-lg-4 mb-4" style="width: 18rem; ; padding-top:0.9%;">
            <img src="https://imgs.search.brave.com/h715B3rIBN9P0PRL21whEg00Xmy28GnqSK2-c9Oqq_s/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzA2LzU0LzIyLzk0/LzM2MF9GXzY1NDIy/OTQ0Nl9CRGdFQnpF/NkNKU0NzYnFZV3Yy/V2RESEFDblo5bUVx/US5qcGc"
                class="card-img-top" alt="Imagen de Hera">
            <div class="card-body">
                <h5 class="card-title">Hera, Dios del cielo y los estrellas</h5>
                <p class="card-text"> Es la diosa del matrimonio, las mujeres, el cielo y las estrellas:</p>
                <a href="#" class="btn btn-primary"> Hera </a>
            </div>
        </div>
    </div>
</div>
<hr>