<!-- your html code here -->
<div class="container d-flex">

    <img
    src="https://picsum.photos/300/300?grayscale"
    class="rounded-circle"
    alt=""
  />

  <div>
    <div class="container d-flex">
      <h3>This Second Heading</h3>

      <h3 class="text-secondary ms-2">Is Pretty Cool Too</h3>
    </div>

    <p class="ms-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus,
      quod ipsa molestias atque nobis reprehenderit aliquam beatae quibusdam
      quasi incidunt? Numquam minima harum ex, veritatis impedit ullam!
      Repellendus, officiis!
    </p>
  </div>

  
</div>
