<!-- your html code here -->
<div class="container bg-white">
  <div class="row d-flex ms-4">

    <div class="col-sm-4 col-md-3 col-lg-4">
      <img src="https://picsum.photos/100/100?grayscale" class="rounded-circle" alt="" width="100%" />
    </div>

    <div class="col-sm-12 col-md-9 col-lg-8">

      <div class="d-flex">
        <h3>This Second Heading</h3>
        <h3 class="text-secondary ms-2">Is Pretty Cool Too.</h3>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus,
        quod ipsa molestias atque nobis reprehenderit aliquam beatae quibusdam
        quasi incidunt? Numquam minima harum ex, veritatis impedit ullam!
        Repellendus, officiis
      </p>
    </div>

    
  </div>


</div>
<hr>
